body {
    background-color: #000000;
}
.center-rectangle {
    display: inline-block;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 50pc;;
    height: 35pc;;
    border:3px solid #000;
    margin: auto;
    background-color: white;

}

.date-title {
    border-bottom: 2px solid#000000;
    height: 10pc;
    background-color: #BDE9FF;
    margin-top: 0;
    z-index: 100;
}

h1 {
    color: #a41515;
}