body {
    background-color: #000000;
}
.center-rectangle {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 50pc;;
    height: 35pc;;
    border:3px solid #000;
    margin: auto;
    background-color: white;

}

.date-title {
    display: inline-block;
    border-bottom: 2px solid#000000;
    border-top:2px solid#000000;
    height: 10pc;
    width: inherit;
    background-color: #970112;
    text-align: center;

}
.date-box {
    display: inline-block;
    position: absolute;
    right: 0;
    width: 10pc;
    border-left:3px solid #000;
    background-color: #970112;
    text-align: center;
}

.day-of-week {
    display: inline-block;
    color: white;
    font-size: 6pc;
}

.month {
    font-size: 2pc;
    color: white;
}

.day {
    font-size: 3pc;
    color: white;
}

.year {
    font-size: 1pc;
    color: white;
}

.title {
    font-size: 1pc;
    color: white;
    display: inline-block;
    width: inherit;
}

.italic {
    font-style: italic;
}
.content {
    text-align: center;
    margin-top: 7%;
}

.phrase {
    font-size: 2.5pc;
    font-weight: bolder;
}