{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Exotic Insult Of The Day</title>
    <meta name="description=" content="Exotic Insult Of The Day teaches you exiting ways to insult people
    from around the world. Come back daily for new insult in a foreign language.">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>

<div class="center-rectangle">
    <div class="date-title">
{#        <span class="title"> Exotic Insult Of The Day</span>#}
        <span class="day-of-week">{{ day.date|date:'l' }}</span>
        <div class="date-box"><br><span class="month">{{ day.date|date:'F' }}</span><br><span class="day">{{ day.date|date:'j' }}</span><br><span class="year">{{ day.date|date:'Y' }}</span></div>
    </div>
    <div style="text-align: center">
        <h5>Language Of Origin: {{ insult.language }}</h5>
        <h1> {{ insult.phrase }}</h1>
    <h3>{{ insult.pronunciation }}</h3>
    <h4>Translation: </h4><h2>{{ insult.translation }}</h2>
    </div>
</div>
</body>
</html>