{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>

<div class="center-rectangle">
    <div class="date-title" style="text-align: center"><h1 class="red"><br>{% now "l" %}<br>{% now "F" %}<br>{% now "jS" %}</h1></div>
    <div style="text-align: center">
    <h1>{{ insult.phrase }}</h1>
    <h3>{{ insult.pronunciation }}</h3>
    <h5>{{ insult.language }}</h5>
    <h2>{{ insult.translation }}</h2>
    </div>
</div>
</body>
</html>